.App {
  text-align: center;
}

.App-header {
  background-color: #ecf0f7;
  min-height: 100vh;
  align-items: center;
 font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.adj{
  display: flex;
  justify-content: space-evenly;
}
.container{
  margin-top: 20px;
  background-color:rgb(168, 189, 224);
  text-align: center;
}
.header{
  align-items: center;
  text-align: center;
  background-color:rgb(248, 243, 166);
  color:rgb(17, 17, 37);
  height: 70px;
}
.footer{
  margin-top: 10px;
text-align: center;
background:black;
color:yellow;
height: 90px;
}


